.loading-mask-rt {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1051;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
}

.loading-mask-rt > div {
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading-mask-rt > div > div {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.loading-mask-rt > div > h3 {
    font-size: 24px;
}

.d-none {
    display: none;
}